.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.item {
     margin: 5px;
}

.first {
  text-align: center;
  border: 3px solid green;
}

.content {
  text-align: center;
  border: 3px solid green;
}


body {

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    background-color: #352F44;
    color: white;
    text-align: center;

}

header {

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    box-shadow: #2b2833;

    background: #5C5470;
}

section {

    display: flex;
    flex-wrap: wrap;
    background: white;
    color: black;
    box-shadow: 0 0 10px rgba (0,0,0,0.1);
    border-radius: 8px;
    
}

.project{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    border-left:  5px solid #5C5470;
    background: #f9f9f9;
}